<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>

    <section class="hero-area">
        <div class="hero-bg"><img src="../assets/images/hero-bg.png" alt=""></div>
        <div class="hero-banner item-bounce"><img src="../assets/images/hero-banner.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12">
                    <div class="hero-content">
                        <h2 class="title">Discover Crystaleum network!</h2>
                        <p class="text">Crystaleum the all-new privacy centric mobile-friendly cryptonote based cryptocurrency.</p>
                        <div class="btns">
                            <a href="#_contact" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Sign Up To Join</a>
                            <!-- <a href="#" class="btn-style-4 link hvr-bs btn-hvr-anim-top">Token Distribution</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="top-brands-area">
        <div class="container">
            <h3 class="title">Visit Crystaleum Partners && Affiliates</h3>
            <div class="all-brands">
                <div class="single">
                    <img src="../assets/home-one/top-brand-1.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-2.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-3.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-4.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-5.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="counter-area">
        <div class="counter-bg"><img src="../assets/home-one/counter-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <div class="ca-starts-in">
                        <h3 class="title">HardFork Starts in</h3>
                        <p class="info">Crystaleum will start mining blocks on September 18th 2020</p>
                        <div class="timer-area">
                            <div data-countdown="2020/9/18"></div>
                        </div>
                        <a href="#_contact" class="buy btn-style-5 hvr-bs btn-hvr-anim-top">Register now</a>
                        <div class="buy-icons">
                            <!-- <img src="../assets/home-one/token-icons.png" alt=""> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.4s">
                    <div class="cs-recived">
                        <h2 class="contribution"><span>₮</span><span class="counter counter-up" data-counterup-time="5500" data-counterup-delay="30">876,100</span> Electronero Contributed</h2>
                        <div class="progress-box">
                            <p class="info"><span class="left">$10k</span><span class="right">$2m</span></p>
                            <div class="box w-40 b-10"></div>
                            <p class="info"><span class="left">Softcap</span><span class="right">Hardcap</span></p>
                        </div>
                        <div class="video-link">
                            <a class="popup-youtube" href="#"><i class="fas fa-play"></i>How It Works</a>
                            <a href="#" class="link btn-style-1"> Litepaper</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-v1-area" id="_about">
        <div class="container"><br><br><br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="about-v1-banner">
                        <img class="item-bounce" src="../assets/images/about-one-banner.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="about-v1-content">
                        <h2 class="title">On Crystaleum lightning fast, worldwide network peers use Crystaleum Gems and Crystals to mine, stake, trade, and transact.</h2>
                        <h3 class="title-2">Crystaleum Gems and Crystals are coins used to empower and operate the Crystaleum blockchain network. </h3>
                        <p class="text">Gems are produced in order to reward miners for validating spent and unspent transactions outputs, aka Crystaleum Crystals which are sent across the Crystaleum blockchain. Crystaleum Gems, and Crystals may be swapped between peers instantly in any combination of other cryptocurrency at any time on Crystaleum fast, secure, and private blockchain network.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-v2-area">
        <div class="about-v2-bg"><img src="../assets/images/about-bg-total.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="about-v2-content">
                        <h2 class="title">Send and Receive Crystaleum crystals P2P on the fastest mobile friendly cryptonote blockchain network. </h2>
                        <h3 class="title-2">Send Crystaleum crystal coins anywhere, anytime, on the blazing fast, secure, privacy-centric cryptonote network.</h3>
                        <p class="text">As new transactions are initiated between any two, or more peers which are sending, and receiving Crystaleum crystals on the blazing fast Crystaleum blockchain network a swift process known as Crystalization or Recrystallization occurs. Crystalization and Recrystallization is the process which Gems are converted to Crystals or vice versa.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="about-v1-banner">
                        <img class="item-bounce" src="../assets/images/about-two-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="roadmap-area" id="_roadmap">
        <div class="container"><br><br>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Roadmap</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="roadmap-slider">
            <div class="single-roadmap wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                <h3 class="title">Q3 2020</h3>
                <p class="text">Crystaleum deploys mainnet blockchain operations in select regions. Mobile wallet public alpha begins. Desktop wallets released. </p>
            </div>
            <div class="single-roadmap v2 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s">
                <h3 class="title">Q3 2020</h3>
                <p class="text">Crystaleum exchange listing; Indoex & Vindax. Mobile wallet public beta begins. Web wallet public alpha begins.</p>
            </div>
            <div class="single-roadmap wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.6s">
                <h3 class="title">Q3 2020</h3>
                <p class="text">Crystaleum public full release of mobile wallet 1.0</p>
            </div>
            <div class="single-roadmap v2 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.8s">
                <h3 class="title">Q4 2020</h3>
                <p class="text">Crystaleum exchange listing; Public API alpha release. </p>
            </div>
            <div class="single-roadmap wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.0s">
                <h3 class="title">Q4 2020</h3>
                <p class="text">Crsytaluem partnership to be announced!</p>
            </div>
        </div>
    </section>
    <section class="download-area">
        <div class="download-bg"><img src="../assets/images/download-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="download-banner">
                        <img class="item-bounce" src="../assets/images/download-banner.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="download-content">
                        <h2 class="title">Download Now</h2>
                        <p class="text">Crystaleum website, Android/iOs mobile apps, public & private API, professional contracts exchange trading experience platform coming soon! Like this page and follow us on your favorite social media for official announcements.</p>
                        <div class="buttons">
                            <a href="#" class="link download-button-1 btn-hvr-anim-top">
                                <span class="icon"><i class="fab fa-apple"></i></span>
                                <span class="available">Coming Soon to the</span>
                                <span class="store-name">App Store</span>
                            </a>
                            <a href="#" class="link download-button-2 btn-hvr-anim-top">
                                <span class="icon"><i class="fas fa-play"></i></span>
                                <span class="available">Available Now on the</span>
                                <span class="store-name">Play Store</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-area">
        <div class="why-bg"><img src="../assets/home-one/why-icon-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="why-left-content">
                        <h2 class="title">Why Choose Crystaleum?</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                        <p class="text-2">Connect your web, and mobile friendly CrystalID account to social media to access the Crystaleum blockchain network via social bots on telegram, and discord. Login on Android iOS and desktop with one account using a Crystaleum crystalize API enabled platform.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="why-right-content">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-1.png" alt=""></span>
                                    <h2 class="title">Mobile Wallet</h2>
                                    <p class="text">Crystaleum Mobile wallet is available for Android, and soon iOS users!</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><i class="fas fa-lock"></i></span>
                                    <h2 class="title">Private & Secure</h2>
                                    <p class="text">Crsytaleum is based on Cryptonote-Monero, a privacy centric blockchain.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-3.png" alt=""></span>
                                    <h2 class="title">Buy, Sell, Mine & Farm</h2>
                                    <p class="text">Crystaleum is a Yield Farming cryptoasset, with options for users to trade, mine, and farm Crystaleum.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-4.png" alt=""></span>
                                    <h2 class="title">Interoperability</h2>
                                    <p class="text">Crystaleum is listed to major exchanges, and available to users of major Operating Systems. Mine, Trade, Farm, and more with Crystaleum blazing fast, privacy centric blockchain.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="token-area" id="_token">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Privacy Centric DeFi</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="token-info-all">
                        <div class="single">
                            <h2 class="title">Funding Starts</h2>
                            <p class="text">June 8, 2020 <br></p>
                        </div>
                        <div class="single">
                            <h2 class="title">Funding Ends</h2>
                            <p class="text">August 8, 2020 <br></p>
                        </div>
                        <div class="single">
                            <h2 class="title">Mining Starts</h2>
                            <p class="text">September 18, 2020 <br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="token-banner-main">
                        <span class="tb-bg"><img src="../assets/images/token-bg.png" alt=""></span>
                        <img class="item-bounce" src="../assets/images/token-banner.png" alt="">
                        <a href="#_contact" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Sign Up To Join</a>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="token-info-all style-2">
                        <div class="single">
                            <h2 class="title">Max Supply</h2>
                            <p class="text">100,000 CFI</p>
                        </div>
                        <div class="single">
                            <h2 class="title">Circulating Supply</h2>
                            <p class="text">80,000 CFI</p>
                        </div>
                        <div class="single">
                            <h2 class="title">Total Donations</h2>
                            <p class="text">₮876,100 <br> Electronero Network</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">
                    <div class="token-down-banner">
                        <h2 class="title">Register Now</h2>
                        <a href="#_contact" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Join Crystaleum</a>
                        <!-- <img src="../assets/home-one/token-banner-2-1-1.png" alt=""> -->
                    </div>
                </div>
                <div class="col-lg-6 col-12 wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.5s">
                    <div class="token-down-banner">
                        <h2 class="title">Join Telegram</h2>
                        <a href="#" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Join The Conversation</a>
                        <!-- <img src="../assets/home-one/token-banner-2-2-1.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--     <section class="team-area" id="_team">
        <div class="team-bg"><img src="../assets/home-one/team-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Team</h2>
                        <p class="text">Crystaleum is a platform for the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-1.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mario Hegeer</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-2.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Andry Flower</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-3.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mike Tyson</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-4.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mario Hegeer</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="blog-area">
        <div class="blog-bg"><img src="../assets/home-one/blog-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Blog</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="single-blog">
                        <div class="content">
                            <!-- big image -->
                            <div class="img">
                            <a href="#"><img src="../assets/home-one/blog-1.png" alt=""></a>
                            <br>
                        </div> 
                        <!-- medium stream -->
                        <div id="retainable-rss-embed" 
                        data-rss="https://medium.com/feed/@crystaleum"
                        data-maxcols="3" 
                        data-layout="grid" 
                        data-poststyle="inline" 
                        data-readmore="Read the rest" 
                        data-buttonclass="btn btn-primary" 
                        data-offset="-100"></div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="faq-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div id="_faq" class="faq-content">
                        <h2 class="title">Asked Questions</h2>
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="icon"><i class="fas fa-chevron-down"></i></span> What Is Crystaleum?</button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Crystaleum is a privacy-centric blockchain, with original source based on commits from Monero and Electronero network. 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="icon"><i class="fas fa-chevron-down"></i></span> How to trade Crystaleum?</button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Crystaleum is interoperable with many major cryptocurrencies, trade Crystaleum at major exchanges. 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span class="icon"><i class="fas fa-chevron-down"></i></span> Can I use Crystaleum for free?</button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Yes. Crystaleum is open to the public, although transactions on Crystaleum blockchain are private between Peers on the network. 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="faq-banner">
                        <img class="item-bounce" src="../assets/images/faq-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- more widgets -->
<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>