<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<script src="https://cdn.jsdelivr.net/npm/@toruslabs/torus-embed"></script>
	<script type="text/javascript" async defer>
	const torus = new Torus({
  buildEnv: "production", // default == mainnet. staging uses staging.tor.us
  enableLogging: false, // default : false
  network: {
    host: "mainnet" // default : 'mainnet'
  },
  showTorusButton: true, // default: true
  buttonPosition: "bottom-right" // default: 'bottom-left'
  // loginConfig: {
  //   'google': {
  //     description: 'Login with google',
  //     clientId: 'CLIENT_ID',
  //     logoHover: 'https://sample.com/google-logo-hover.svg',
  //     logoLight: 'https://sample.com/google-logo-light.svg',
  //     logoDark: 'https://sample.com/google-logo-dark.svg',
  //     showOnModal: true,
  //   },
  // 'facebook': {
  //   description: 'Login with google',
  //   clientId: 'CLIENT_ID',
  //   logoHover: 'https://sample.com/google-logo-hover.svg',
  //   logoLight: 'https://sample.com/google-logo-light.svg',
  //   logoDark: 'https://sample.com/google-logo-dark.svg',
  //   showOnModal: true,
  // },
  // }
});

var paymentProvider;
var currenciesXAN = ['SGD', 'HKD', 'MYR', 'PHP', 'INR', 'VND', 'THB', 'IDR'];
var currencies = ['ETH', 'DAI', 'TUSD', 'USDC', 'USDT'];

// function will decide fiatValue based on user input userSelectedValue
if(document.getElementById("userSelectedValue")){
var userSelectedValue = document.getElementById("userSelectedValue");
}
// function will decide which provider to use based on user input userSelectedCurrency
if(document.getElementById("userSelectedCurrency")){
var userSelectedCurrency = document.getElementById("userSelectedCurrency");
}
// function will decide which cryptocurrency to buy based on user input userSelectedCryptoCurrency
if(document.getElementById("userSelectedCryptoCurrency")){
var userSelectedCryptoCurrency = document.getElementById("userSelectedCryptoCurrency");
}

async function myfunction() {
  	paymentProviders = {
	  moonpay: {
	  	name: "moonpay",
	    minOrderValue: 24.99,
	    maxOrderValue: 50000,
	    validCurrencies: ['USD', 'EUR', 'GBP'],
	    validCryptoCurrencies: ['ETH', 'DAI', 'TUSD', 'USDC', 'USDT']
	  },
	  wyre: {
	  	name: "wyre",
	    minOrderValue: 1,
	    maxOrderValue: 250,
	    validCurrencies: ['USD'],
	    validCryptoCurrencies: ['ETH', 'DAI', 'USDC']
	  },
	  rampnetwork: {
	  	name: "rampnetwork",
	    minOrderValue: 1,
	    maxOrderValue: 20000,
	    validCurrencies: ['GBP', 'EUR'],
	    validCryptoCurrencies: ['ETH', 'DAI', 'USDC']
	  },
	  xanpool: {
	  	name: "xanpool",
	    minOrderValue: 1,
	    maxOrderValue: 20000,
	    validCurrencies: ['SGD', 'HKD', 'MYR', 'PHP', 'INR', 'VND', 'THB', 'IDR'],
	    validCryptoCurrencies: ['ETH', 'USDT']
	  }
	}
	console.log(paymentProviders);
	var depositUser = {
	selectedCurrency: "USD",
	fiatValue: 250,
	selectedCryptoCurrency: "ETH",
	selectedAddress: "0xf864c1A1475C47e6FaFcab3a3cb15F8418FF9EaF"
	// torus.showWallet("transfer"); // default: 'home'
	}
	transferParams = depositUser;
	console.log(transferParams)
	console.log("i")
	console.log("selectedCurrency: " + depositUser.selectedCurrency)
	console.log("fiatValue: " + depositUser.fiatValue)
	var i;
	for (i = 0; i < currenciesXAN.length; i++){
		console.log("currenciesXAN[i]" + currenciesXAN[i]);
		if(depositUser.selectedCurrency.toString() == currenciesXAN[i]){
			console.log("XAN")
			paymentProvider = 'xanpool';
	};
	};
	console.log("j")
	console.log("selectedCurrency: " + depositUser.selectedCurrency)
	console.log("fiatValue: " + depositUser.fiatValue)
	var j;
	for (j = 0; j < currencies.length; j++){
		console.log("currencies[j]" + currencies[j]);
		if(depositUser.selectedCryptoCurrency.toString() == currencies[j]){
			console.log("got it covered")
			// ```var currencies = ['ETH', 'DAI', 'TUSD', 'USDC', 'USDT'];```
			if(depositUser.selectedCryptoCurrency.toString() == "ETH"){
			console.log("ETH")
			depositUser['selectedAddress'] = '0x3CCa34F65049b49c1A1A47339BD42D6b303F436f';
		} else if(depositUser.selectedCryptoCurrency.toString() == "DAI"){
			console.log("DAI")
			depositUser['selectedAddress'] = '0x3CCa34F65049b49c1A1A47339BD42D6b303F436f';
		} else if(depositUser.selectedCryptoCurrency.toString() == "TUSD"){
			console.log("TUSD")
			depositUser['selectedAddress'] = '0x3CCa34F65049b49c1A1A47339BD42D6b303F436f';
		} else if(depositUser.selectedCryptoCurrency.toString() == "USDC"){
			console.log("USDC")
			depositUser['selectedAddress'] = '0x3CCa34F65049b49c1A1A47339BD42D6b303F436f';
		} else if (depositUser.selectedCryptoCurrency.toString() == "USDT"){
			console.log("USDT")
			depositUser['selectedAddress'] = '0x3CCa34F65049b49c1A1A47339BD42D6b303F436f';
		};
	};
	};
	console.log(depositUser)
	console.log("selectedCurrency: " + depositUser.selectedCurrency)
	console.log("fiatValue: " + depositUser.fiatValue)
	if(depositUser.selectedCurrency.toString() == "USD"){
		if(depositUser.fiatValue > 1000){
			console.log("moonpay")
			console.log("selectedCurrency: " + depositUser.selectedCurrency)
			paymentProvider = 'moonpay';
		} else {
			console.log("< 1000")
			console.log("selectedCurrency: " + depositUser.selectedCurrency)
			// paymentProvider = 'wyre';
			paymentProvider = 'moonpay';
		}
	} else if (depositUser.selectedCurrency.toString() == "EUR" || depositUser.selectedCurrency.toString() == "GBP"){
		if(depositUser.fiatValue <= 20000){
			console.log("rampnetwork")
			console.log("fiatValue: " + depositUser.fiatValue)
			paymentProvider = 'rampnetwork';
		} else {
			console.log("moonpay")
			console.log("fiatValue: " + depositUser.fiatValue)
			paymentProvider = 'moonpay';
		};
	};

	if(userSelectedCurrency == undefined){
		depositUser.selectedCurrency = "USD";
		console.log("Default fiat: " + depositUser.selectedCurrency)
	} else {
		depositUser.selectedCurrency = userSelectedCurrency;
		console.log("userSelectedCurrency: " + userSelectedCurrency)
	};
	if(userSelectedCryptoCurrency == undefined){
		depositUser.selectedCryptoCurrency = "USDC";
		console.log("Default Crypto: " + depositUser.selectedCryptoCurrency)
	} else {
		depositUser.selectedCryptoCurrency = userSelectedCryptoCurrency;
		console.log("userSelectedCryptoCurrency: " + userSelectedCryptoCurrency)
	};
	if(userSelectedValue == undefined){
		depositUser.fiatValue = 100;
		console.log("default fiat deposit: " + depositUser.fiatValue)
	} else {
		depositUser.fiatValue = userSelectedValue;
		console.log("userSelectedValue: " + userSelectedValue)

	};	
	const paymentStatus = await torus.initiateTopup(paymentProvider, transferParams);
	// console.log(paymentStatus);
	console.log('Inside of myfunction');
}

// Here we wait for the myfunction to finish
// and then returns a promise that'll be waited for aswell
// It's useless to wait the myfunction to finish before to return
// we can simply returns a promise that will be resolved later

// Also point that we don't use async keyword on the function because
// we can simply returns the promise returned by myfunction
function start() {
  return myfunction();
}



// Shorthand for $( document ).ready()
// $(function() {
// 	first()
//  console.log( "ready!" );
// });
// var first = function(){
// 	// await torus.login(); // await torus.ethereum.enable()
// 	// torus.showTorusButton();
// 	// torus.showWallet("transfer"); // default: 'home'
// }



</script>
    <section class="hero-area">
        <div class="hero-bg"><img src="../assets/images/hero-bg.png" alt=""></div>
        <div class="hero-banner item-bounce"><img src="../assets/images/hero-banner.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12">
                    <div class="hero-content">
                        <h2 class="title">Discover Crystaleum network!</h2>
                        <p class="text">Crystaleum the all-new privacy centric mobile-friendly cryptonote based cryptocurrency.</p>
                        <div class="btns">
                            <a href="https://id.crystaleum.org/login.html" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Connect Wallet</a>
                            <a href="https://id.crystaleum.org/register.html" class="btn-style-4 link hvr-bs btn-hvr-anim-top">Sign Up</a>
                            <!-- <a href="#" class="btn-style-4 link hvr-bs btn-hvr-anim-top">Token Distribution</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="top-brands-area">
        <div class="container">
            <h3 class="title">Visit Crystaleum Partners && Affiliates</h3>
            <div class="all-brands">
                <div class="single">
                    <img src="../assets/home-one/top-brand-1.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-2.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-3.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-4.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-5.png" alt="">
                </div>
            </div>
        </div>

    </br>
    <style type="text/css" media="screen">
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }</style>
        
    </style>
        <div class="container">
            </br>
            </br>
            <h3 class="title">Crystaleum Mining Partners && Official Pools</h3>
            <div class="all-brands">
                <div class="center" >
                    <img class="center" href="https://letshash.it/crfi" src="../assets/home-one/crystaleum-cryptocurrency-blockchain-mining-letshashit.png" alt="">
                </div>
<!--                 <div class="single">
                    <img src="../assets/home-one/top-brand-2.png" alt="">
                </div> -->
<!--                 <div class="single">
                    <img src="../assets/home-one/top-brand-3.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-4.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-5.png" alt="">
                </div> -->
            </div>
        </div>
        <!-- <div class="container">
            </br>
            </br>
            <h3 class="title">Start Liquidity Mining</h3>
            <div class="all-brands">
                <div class="center" >
                	<style type="text/css" media="screen">	
					.dropdown-toggle, .dropdown-menu { width: 400px }
					.btn-group img { margin-right: 10px }
					.dropdown-toggle { padding-right: 50px }
					.dropdown-toggle .glyphicon { margin-left: 20px; margin-right: -40px }
					.dropdown-menu>li>a:hover { background: #f1f9fd }  
					
                	</style>
            <div class="swap-container"><link href="../assets/css/swaps.css" rel="stylesheet" type="text/css" />
            	<div id="swap-app-tmp"><div style="text-align:center"><div class="theme theme-tmp theme--dark__bundle"><section id="content" class="swap-en"><div class="exchange__container"><div><div class="exchange__form theme__background-2"><div><div class="exchange-content-wrapper"><div class="exchange-content">

            		<div class="exchange-content__item--wrapper"><div class="exchange-item-label">From:</div>
            	<div class="exchange-content__item exchange-content__item--left theme__background-4 select-token  "><div class="input-div-content"><div class="exchange-content__label-content"><div class="exchange-content__select select-token-panel"><div class="token-selector source ">
            		<div class="js-example-basic-multiple">
            	<optgroup data-select2-id="select2-data-9-bvah">
				    <option tabindex="1" value="USDT" data-select2-id="select2-data-1" style="color: black;">USDT</option>
				    <option tabindex="2" value="USDC" data-select2-id="select2-data-2" style="color: black;">USDC</option>
				    <option tabindex="3" value="ETH" data-select2-id="select2-data-3" style="color: black;">ETH</option>
				  </optgroup>
            		<div class="dropdown "><a class="dropdown__trigger notifications-toggle"><div class="focus-item d-flex">
            	<div class="d-flex"><div class="icon"><img alt="Tether" src="../assets/coins/usdt.svg"></div>
            	
            	<div class="focus-name"><span>USDT</span></div></div></div>
            	<div><i class="k k-angle bold down"></i></div></div></a>
            	
            	</div></div></div></div>
            	<div class="exchange-content__input-container"><div class="main-input main-input__left"><div id="swap-error-trigger" class="input-tooltip-wrapper">
            		<input class="exchange-content__input theme__background-4 theme__text-4 " min="0" step="0.000001" placeholder="100" type="text" maxlength="50" autocomplete="off" value=""></div></div></div></div></div></div>
            	<div class="exchange-content__item--middle"><span data-tip="Click to swap" data-for="swap-icon" currentitem="false"><i class="exchange__swap-icon"></i></span><div class="__react_component_tooltip place-bottom type-dark " id="swap-icon" data-id="tooltip"></div></div><div class="exchange-content__item--wrapper"><div class="exchange-item-label">To:</div>
            	<div class="exchange-content__item exchange-content__item--right theme__background-4"><div class="input-div-content"><div class="exchange-content__label-content"><div class="exchange-content__select select-token-panel"><div class="token-selector dest "><div class="dropdown "><a class="dropdown__trigger notifications-toggle"><div class="focus-item d-flex"><div class="d-flex"><div class="icon"><img alt="KyberNetwork" src="../assets/images/crystaleum-blockchain-cryptocurrency-crypto-altcoin.png"></div>
            		<div><div class="focus-name"><span>CRFI</span></div></div></div><div><i class="k k-angle bold down"></i></div></div></a>
            		<div class="dropdown__content common__slide-up"><div class="select-item theme__background-7">
            		<div class="select-item__body"><div class="search-item theme__token-input"><input class="search-item__input" placeholder="Try &quot;DAI&quot;" type="text" value=""></div></div></div></div></div></div></div></div>
            		<div class="exchange-content__input-container"><div class="main-input main-input__right">
            			<input class="exchange-content__input theme__background-4 theme__text-4" step="0.000001" placeholder="0.01" min="0" type="text" maxlength="50" autocomplete="off" value="" id="price"></div></div></div></div></div></div></div>
            		<div><div class="exchange-content__accept-term">
            			<a onclick="init()"><div class="accept-button theme__button">Connect Wallet</div></a><div class="exchange-terms theme__text-4"><span><span>By using Crystaleum, you agree to the <a class="exchange-terms__link" href="https://crystaleum.org/terms" target="_blank"> Terms, and Conditions </a></span></span>
            		</div></div></div></div></div></div></div><div></div></section></div></div></div><div id="swap-app"></div>
        </div>
        </div>
        </div> -->

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8" async defer>
        var checker = 0;
        function init() {
        // Call start
		(async() => {
		  start();
		  // torus.showWallet("transfer"); // default: 'home'
		  console.log('after start');
		})();
        }
        (async() => {
		  console.log('Torus initialized before start');
		  await torus.init(); 
		  console.log('after init');
		})();
        function formatState (state) {
  if (!state.id) {
    return state.text;
  }
  var baseUrl = "../assets/coins";
  var $state = $(
    '<span><img src="' + baseUrl + '/' + state.element.value.toLowerCase() + '.svg" class="img-coin" /> ' + state.text + '</span>'
  );
  return $state;
};



$(".js-example-basic-multiple").select2({
  // width: 'resolve', // need to override the changed default
  width: "250px",
  theme: "classic",
  templateResult: formatState
});

var price;
function calculatePrice()
{
  if(document.getElementById('price').innerHTML){
  	price = document.getElementById('price').innerHTML * 10000;
  };
};

     
</script>
    </section>
    <section class="counter-area">
        <div class="counter-bg"><img src="../assets/home-one/counter-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <div class="ca-starts-in">
                        <h3 class="title">MainNet is active!</h3>
                        <p class="info">Crystaleum will start mining blocks on September 18th 2020</p>
                        <div class="timer-area">
                            <div data-countdown="2020/9/18"></div>
                        </div>
                        <a href="https://id.crystaleum.org" class="buy btn-style-5 hvr-bs btn-hvr-anim-top">Register now</a>
                        <div class="buy-icons">
                            <!-- <img src="../assets/home-one/token-icons.png" alt=""> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.4s">
                    <div class="cs-recived">
                        <h2 class="contribution"><span>₮</span><span class="counter counter-up" data-counterup-time="5500" data-counterup-delay="30">876,100</span> Electronero Contributed</h2>
                        <div class="progress-box">
                            <p class="info"><span class="left">$10k</span><span class="right">$2m</span></p>
                            <div class="box w-40 b-10"></div>
                            <p class="info"><span class="left">Softcap</span><span class="right">Hardcap</span></p>
                        </div>
                        <div class="video-link">
                            <a class="popup-youtube" href="#"><i class="fas fa-play"></i>How It Works</a>
                            <a href="#" class="link btn-style-1"> Litepaper</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-v1-area" id="_about">
        <div class="container"><br><br><br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="about-v1-banner">
                        <img class="item-bounce" src="../assets/images/about-one-banner.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="about-v1-content">
                        <h2 class="title">On Crystaleum lightning fast, worldwide network peers use Crystaleum Gems and Crystals to mine, stake, trade, and transact.</h2>
                        <h3 class="title-2">Crystaleum Gems and Crystals are coins used to empower and operate the Crystaleum blockchain network. </h3>
                        <p class="text">Gems are produced in order to reward miners for validating spent and unspent transactions outputs, aka Crystaleum Crystals which are sent across the Crystaleum blockchain. Crystaleum Gems, and Crystals may be swapped between peers instantly in any combination of other cryptocurrency at any time on Crystaleum fast, secure, and private blockchain network.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-v2-area">
        <div class="about-v2-bg"><img src="../assets/images/about-bg-total.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="about-v2-content">
                        <h2 class="title">Send and Receive Crystaleum crystals P2P on the fastest mobile friendly cryptonote blockchain network. </h2>
                        <h3 class="title-2">Send Crystaleum crystal coins anywhere, anytime, on the blazing fast, secure, privacy-centric cryptonote network.</h3>
                        <p class="text">As new transactions are initiated between any two, or more peers which are sending, and receiving Crystaleum crystals on the blazing fast Crystaleum blockchain network a swift process known as Crystalization or Recrystallization occurs. Crystalization and Recrystallization is the process which Gems are converted to Crystals or vice versa.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="about-v1-banner">
                        <img class="item-bounce" src="../assets/images/about-two-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="roadmap-area" id="_roadmap">
        <div class="container"><br><br>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Roadmap</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="roadmap-slider">
            <div class="single-roadmap wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                <h3 class="title">Q3 2020</h3>
                <p class="text">Crystaleum deploys mainnet blockchain operations in select regions. Mobile wallet public alpha begins. Desktop wallets released. </p>
            </div>
            <div class="single-roadmap v2 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s">
                <h3 class="title">Q3 2020</h3>
                <p class="text">Crystaleum exchange listing; Indoex & Vindax. Mobile wallet public beta begins. Web wallet public alpha begins.</p>
            </div>
            <div class="single-roadmap wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.6s">
                <h3 class="title">Q3 2020</h3>
                <p class="text">Crystaleum public full release of mobile wallet 1.0</p>
            </div>
            <div class="single-roadmap v2 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.8s">
                <h3 class="title">Q4 2020</h3>
                <p class="text">Crystaleum exchange listing; Public API alpha release. </p>
            </div>
            <div class="single-roadmap wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.0s">
                <h3 class="title">Q4 2020</h3>
                <p class="text">Crystaleum partnership to be announced!</p>
            </div>
        </div>
    </section>
    <section class="download-area">
        <div class="download-bg"><img src="../assets/images/download-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="download-banner">
                        <img class="item-bounce" src="../assets/images/download-banner.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="download-content">
                        <h2 class="title">Download Now</h2>
                        <p class="text">Crystaleum website, Android/iOs mobile apps, public & private API, professional contracts exchange trading experience platform coming soon! Like this page and follow us on your favorite social media for official announcements.</p>
                        <div class="buttons">
                            <a href="#" class="link download-button-1 btn-hvr-anim-top">
                                <span class="icon"><i class="fab fa-apple"></i></span>
                                <span class="available">Coming Soon to the</span>
                                <span class="store-name">App Store</span>
                            </a>
                            <a href="#" class="link download-button-2 btn-hvr-anim-top">
                                <span class="icon"><i class="fas fa-play"></i></span>
                                <span class="available">Available Soon on the</span>
                                <span class="store-name">Play Store</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-area">
        <div class="why-bg"><img src="../assets/home-one/why-icon-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="why-left-content">
                        <h2 class="title">Why Choose Crystaleum?</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                        <p class="text-2">Connect your web, and mobile friendly CrystalID account to social media to access the Crystaleum blockchain network via social bots on telegram, and discord. Login on Android iOS and desktop with one account using a Crystaleum crystalize API enabled platform.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="why-right-content">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-1.png" alt=""></span>
                                    <h2 class="title">Mobile Wallet</h2>
                                    <p class="text">Crystaleum Mobile wallet is available for Android, and soon iOS users!</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><i class="fas fa-lock"></i></span>
                                    <h2 class="title">Private & Secure</h2>
                                    <p class="text">Crystaleum is based on Cryptonote-Monero, a privacy centric blockchain.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-3.png" alt=""></span>
                                    <h2 class="title">Buy, Sell, Mine & Farm</h2>
                                    <p class="text">Crystaleum is a Yield Farming cryptoasset, with options for users to trade, mine, and farm Crystaleum.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-4.png" alt=""></span>
                                    <h2 class="title">Interoperability</h2>
                                    <p class="text">Crystaleum is listed to major exchanges, and available to users of major Operating Systems. Mine, Trade, Farm, and more with Crystaleum blazing fast, privacy centric blockchain.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </section>
    <section class="token-area" id="_token">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Privacy Centric DeFi</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="token-info-all">
                        <div class="single">
                            <h2 class="title">Funding Starts</h2>
                            <p class="text">June 8, 2020 <br></p>
                        </div>
                        <div class="single">
                            <h2 class="title">Funding Ends</h2>
                            <p class="text">August 8, 2020 <br></p>
                        </div>
                        <div class="single">
                            <h2 class="title">Mining Starts</h2>
                            <p class="text">September 18, 2020 <br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="token-banner-main">
                        <span class="tb-bg"><img src="../assets/images/token-bg.png" alt=""></span>
                        <img class="item-bounce" src="../assets/images/token-banner.png" alt="">
                        <a href="#_contact" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Sign Up To Join</a>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="token-info-all style-2">
                        <div class="single">
                            <h2 class="title">Max Supply</h2>
                            <p class="text">100,000 CRFI</p>
                        </div>
                        <div class="single">
                            <h2 class="title">Circulating Supply</h2>
                            <p class="text">50,000 CRFI</p>
                        </div>
                        <div class="single">
                            <h2 class="title">Total Donations</h2>
                            <p class="text">₮876,100 <br> Electronero Network</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">
                    <div class="token-down-banner">
                        <h2 class="title">Register Now</h2>
                        <a href="https://id.crystaleum.org" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Join Crystaleum</a>
                        <!-- <img src="../assets/home-one/token-banner-2-1-1.png" alt=""> -->
                    </div>
                </div>
                <div class="col-lg-6 col-12 wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.5s">
                    <div class="token-down-banner">
                        <h2 class="title">Join Telegram</h2>
                        <a href="https://t.me/crystaleum" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Join The Conversation</a>
                        <!-- <img src="../assets/home-one/token-banner-2-2-1.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--     <section class="team-area" id="_team">
        <div class="team-bg"><img src="../assets/home-one/team-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Team</h2>
                        <p class="text">Crystaleum is a platform for the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-1.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mario Hegeer</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-2.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Andry Flower</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-3.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mike Tyson</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-4.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mario Hegeer</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="blog-area">
        <div class="blog-bg"><img src="../assets/home-one/blog-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Blog</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="single-blog">
                        <div class="content">
                            <!-- big image -->
                            <div class="img">
                            <a href="#"><img src="../assets/images/crystaleum-private-blockchain-monero-electronero.jpg" alt=""></a>
                            <br>
                        </div> 
                        <!-- medium stream -->
                        <div id="retainable-rss-embed" 
                        data-rss="https://medium.com/feed/@crystaleum"
                        data-maxcols="3" 
                        data-layout="grid" 
                        data-poststyle="inline" 
                        data-readmore="Read the rest" 
                        data-buttonclass="btn btn-primary" 
                        data-offset="-100"></div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="single-blog">
                        <div class="content">
                            <!-- big image -->
                            <!-- <div class="img">
                            <a href="#"><img src="../assets/images/crystaleum-private-blockchain-monero-electronero.jpg" alt=""></a>
                            <br> -->
                        <!-- </div>  -->
                        <!-- twitter stream -->
                        <a class="twitter-timeline" data-dnt="true" data-theme="dark" href="https://twitter.com/crystaleum?ref_src=twsrc%5Etfw">Tweets by crystaleum</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="_faq" class="faq-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="faq-content">
                        <h2 class="title">Asked Questions</h2>
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="icon"><i class="fas fa-chevron-down"></i></span> What Is Crystaleum?</button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Crystaleum is a privacy-centric blockchain, with original source based on commits from Monero and Electronero network. 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="icon"><i class="fas fa-chevron-down"></i></span> How to trade Crystaleum?</button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Crystaleum is interoperable with many major cryptocurrencies, trade Crystaleum at major exchanges. 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span class="icon"><i class="fas fa-chevron-down"></i></span> Can I use Crystaleum for free?</button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Yes. Crystaleum is open to the public, although transactions on Crystaleum blockchain are private between Peers on the network. 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="faq-banner">
                        <img class="item-bounce" src="../assets/images/faq-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- more widgets -->
<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>