<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>

    <section class="hero-area">
        <div class="hero-bg"><img src="../assets/images/hero-bg.png" alt=""></div>
        <div class="hero-banner item-bounce"><img src="../assets/images/hero-banner.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12">
                    <div class="hero-content">
                        <h2 class="title">Discover Crystaleum network!</h2>
                        <p class="text">Crystaleum the all-new privacy centric mobile-friendly cryptonote based cryptocurrency.</p>
                        <div class="btns">
                            <a href="#" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Sign Up To Join</a>
                            <a href="#" class="btn-style-4 link hvr-bs btn-hvr-anim-top">Token Distribution</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="top-brands-area">
        <div class="container">
            <h3 class="title">More Then 3,000+ Companyt Trust Us</h3>
            <div class="all-brands">
                <div class="single">
                    <img src="../assets/home-one/top-brand-1.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-2.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-3.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-4.png" alt="">
                </div>
                <div class="single">
                    <img src="../assets/home-one/top-brand-5.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="counter-area">
        <div class="counter-bg"><img src="../assets/home-one/counter-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <div class="ca-starts-in">
                        <h3 class="title">ICO Starts in</h3>
                        <p class="info">Token will start on Aug 1st 2019</p>
                        <div class="timer-area">
                            <div data-countdown="2020/5/16"></div>
                        </div>
                        <a href="#" class="buy btn-style-5 hvr-bs btn-hvr-anim-top">Buy token now</a>
                        <div class="buy-icons">
                            <img src="../assets/home-one/token-icons.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.4s">
                    <div class="cs-recived">
                        <h2 class="contribution"><span>$</span><span class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">5,256,432</span> Contribution Received</h2>
                        <div class="progress-box">
                            <p class="info"><span class="left">$10m</span><span class="right">$1000m</span></p>
                            <div class="box w-40 b-10"></div>
                            <p class="info"><span class="left">Softcap</span><span class="right">Hardcap</span></p>
                        </div>
                        <div class="video-link">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=QOtuX0jL85Y"><i class="fas fa-play"></i>How It Works</a>
                            <a href="#" class="link btn-style-1"> Whitepaper</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-v1-area" id="_about">
        <div class="container"><br><br><br><br><br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="about-v1-banner">
                        <img class="item-bounce" src="../assets/images/about-one-banner.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="about-v1-content">
                        <h2 class="title">On Crystaleums lightning fast, worldwide network peers use Crystaleum Gems and Crystals to mine, stake, trade, and transact.</h2>
                        <h3 class="title-2">Crystaleum Gems and Crystals are coins used to empower and operate the Crystaleum blockchain network. </h3>
                        <p class="text">Gems are produced in order to reward miners for validating spent and unspent transactions outputs, aka Crystaleum Crystals which are sent across the Crystaleum blockchain. Crystaleum Gems, and Crystals may be swapped between peers instantly in any combination of other cryptocurrency at any time on Crystaleums fast, secure, and private blockchain network.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-v2-area">
        <div class="about-v2-bg"><img src="../assets/images/about-bg-total.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="about-v2-content">
                        <h2 class="title">Send and Receive Crystaleum crystals P2P on the fastest mobile friendly cryptonote blockchain network. </h2>
                        <h3 class="title-2">Send Crystaleum crystal coins anywhere, anytime, on the blazing fast, secure, privacy-centric cryptonote network.</h3>
                        <p class="text">As new transactions are initiated between any two, or more peers which are sending, and receiving Crystaleum crystals on the blazing fast Crystaleum blockchain network a swift process known as Crystalization or Recrystallization occurs. Crystalization and Recrystallization is the process which Gems are converted to Crystals or vice versa.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="about-v1-banner">
                        <img class="item-bounce" src="../assets/images/about-two-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="roadmap-area" id="_roadmap">
        <div class="container"><br><br>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Roadmap</h2>
                        <p class="text">Crystaleum is a platform for the future of decentralized finanance on blockchain.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="roadmap-slider">
            <div class="single-roadmap wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.2s">
                <h3 class="title">Oct 2012</h3>
                <p class="text">We offers users a fully operational long-term rental platform. It plans to leverages</p>
            </div>
            <div class="single-roadmap v2 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.4s">
                <h3 class="title">Oct 2014</h3>
                <p class="text">We offers users a fully operational long-term rental platform. It plans to leverages</p>
            </div>
            <div class="single-roadmap wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.6s">
                <h3 class="title">Oct 2018</h3>
                <p class="text">We offers users a fully operational long-term rental platform. It plans to leverages</p>
            </div>
            <div class="single-roadmap v2 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.8s">
                <h3 class="title">Oct 2016</h3>
                <p class="text">We offers users a fully operational long-term rental platform. It plans to leverages</p>
            </div>
            <div class="single-roadmap wow fadeIn" data-wow-duration="0.5s" data-wow-delay="1.0s">
                <h3 class="title">Oct 2016</h3>
                <p class="text">We offers users a fully operational long-term rental platform. It plans to leverages</p>
            </div>
        </div>
    </section>
    <section class="download-area">
        <div class="download-bg"><img src="../assets/images/download-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="download-banner">
                        <img class="item-bounce" src="../assets/images/download-banner.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="download-content">
                        <h2 class="title">Download App</h2>
                        <p class="text">Crystaleum is a platform for the future of decentralized finanance on blockchain.</p>
                        <div class="buttons">
                            <a href="#" class="link download-button-1 btn-hvr-anim-top">
                                <span class="icon"><i class="fab fa-apple"></i></span>
                                <span class="available">Available on the</span>
                                <span class="store-name">App Store</span>
                            </a>
                            <a href="#" class="link download-button-2 btn-hvr-anim-top">
                                <span class="icon"><i class="fas fa-play"></i></span>
                                <span class="available">Available on the</span>
                                <span class="store-name">Play Store</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-area">
        <div class="why-bg"><img src="../assets/home-one/why-icon-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="why-left-content">
                        <h2 class="title">Why Choose Us?</h2>
                        <p class="text">Crystaleum is a platform for the future of funding that powering dat for the new equity.</p>
                        <p class="text-2">As new transactions are initiated between any two, or more peers which are sending, and receiving Crystaleum crystals on the blazing fast Crystaleum blockchain network a swift process known as Crystalization or Recrystallization occurs. Crystalization and Recrystallization is the process which Gems are converted to Crystals or vice versa..</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="why-right-content">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-1.png" alt=""></span>
                                    <h2 class="title">Wallet</h2>
                                    <p class="text">We offers users a fully operational long-term rental platform to get
                                        noney sure.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><i class="fas fa-lock"></i></span>
                                    <h2 class="title">Safe & Secure</h2>
                                    <p class="text">We offers users a fully operational long-term rental platform to get
                                        noney sure.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-3.png" alt=""></span>
                                    <h2 class="title">Buy & Sell</h2>
                                    <p class="text">We offers users a fully operational long-term rental platform to get
                                        noney sure.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-4.png" alt=""></span>
                                    <h2 class="title">Flexibility</h2>
                                    <p class="text">We offers users a fully operational long-term rental platform to get
                                        noney sure.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="token-area" id="_token">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Trade </h2>
                        <p class="text">Crystaleum is a platform for the future of decentralized finanance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="token-info-all">
                        <div class="single">
                            <h2 class="title">Start</h2>
                            <p class="text">Feb 8, 2018 <br> (9:00AM GMT)</p>
                        </div>
                        <div class="single">
                            <h2 class="title">End</h2>
                            <p class="text">Feb 8, 2018 <br> (9:00AM GMT)</p>
                        </div>
                        <div class="single">
                            <h2 class="title">Currency</h2>
                            <p class="text">Feb 8, 2018 <br> (9:00AM GMT)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="token-banner-main">
                        <span class="tb-bg"><img src="../assets/images/token-bg.png" alt=""></span>
                        <img class="item-bounce" src="../assets/images/token-banner.png" alt="">
                        <a href="#" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Sign Up To Join</a>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="token-info-all style-2">
                        <div class="single">
                            <h2 class="title">Number of tokens</h2>
                            <p class="text">900,000 ICC (9%)</p>
                        </div>
                        <div class="single">
                            <h2 class="title">End</h2>
                            <p class="text">1 ETH = 2,500 </p>
                        </div>
                        <div class="single">
                            <h2 class="title">Currency</h2>
                            <p class="text">30,000,000 <br> USD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">
                    <div class="token-down-banner">
                        <h2 class="title">Token Distribution</h2>
                        <img src="../assets/home-one/token-banner-2-1-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-12 wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.5s">
                    <div class="token-down-banner">
                        <h2 class="title">Fund Distribution</h2>
                        <img src="../assets/home-one/token-banner-2-2-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team-area" id="_team">
        <div class="team-bg"><img src="../assets/home-one/team-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Team</h2>
                        <p class="text">Crystaleum is a platform for the future of decentralized finanance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-1.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mario Hegeer</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-2.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Andry Flower</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-3.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mike Tyson</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-4.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mario Hegeer</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-area">
        <div class="blog-bg"><img src="../assets/home-one/blog-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Blog</h2>
                        <p class="text">Crystaleum is a platform for the future of decentralized finanance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="single-blog">
                        <div class="content">
                            <!-- big image -->
                            <div class="img">
                            <a href="#"><img src="../assets/home-one/blog-1.png" alt=""></a>
                            <br>
                        </div> 
                        <!-- medium stream -->
                        <div id="retainable-rss-embed" 
                        data-rss="https://medium.com/feed/@electronero"
                        data-maxcols="3" 
                        data-layout="grid" 
                        data-poststyle="inline" 
                        data-readmore="Read the rest" 
                        data-buttonclass="btn btn-primary" 
                        data-offset="-100"></div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="faq-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="faq-content">
                        <h2 class="title">Asked Questions</h2>
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="icon"><i class="fas fa-chevron-down"></i></span> What Is Crystaleum?</button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        We offers users a fully operational long-term rental platform. It plans to leverages blockchain technology to ensure seamless rental experience 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="icon"><i class="fas fa-chevron-down"></i></span> How to purchase?</button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        We offers users a fully operational long-term rental platform. It plans to leverages blockchain technology to ensure seamless rental experience 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span class="icon"><i class="fas fa-chevron-down"></i></span> Can i use for free ?</button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        We offers users a fully operational long-term rental platform. It plans to leverages blockchain technology to ensure seamless rental experience 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="faq-banner">
                        <img class="item-bounce" src="../assets/images/faq-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- more widgets -->
<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>