<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<style type="text/css" media="screen">
	.alink {
	font-size: 16px !important;
	}
</style>


    <section class="hero-area">
        <div class="hero-bg"><img src="../assets/images/hero-bg.png" alt=""></div>
        <div class="hero-banner item-bounce"><img src="../assets/images/hero-banner.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12">
                    <div class="hero-content">
                        <h2 class="title">Crystaleum CRFI (cryptonote) && CRYSTAL (ERC20/BEP20)</h2>
                        <p class="text">Binance Smart Chain Contract: <pre>0x4ca6b6b8f10eb17dbd1f8c3f313eca2f779c6e0b </pre>
			</br>
			Crystaleum is a multi-chain of interoperable public and privacy-centric digital assets! Crystaleum is the first privacy-centric DeFi + PoW mine-able, stake-able, && farm-able with on-chain EVM compatible, and off-chain layer-2 cryptonote assets. Crystaleum $CRFI & $CRYSTAL offers traders, farmers, and miners a blazing fast cryptonote $CRFI blockchain and bridged-pegged tokens $CRYSTAL on Binance Smart Chain as BEP20, and ERC20 on Ethereum & Polygon, mobile-friendly (web, and app), privacy cryptonote monero based cryptocurrency network. Proof-of-Work is Cryptonight Fast v1 0% fee mining at the official pools! Staking and Farming soon at Interswap.finance & Pancakeswap.finance</p>
                       <div class="btns">
                            <a href="https://t.me/crfinews" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Read the News</a>
                            <!-- <a href="#" class="btn-style-4 link hvr-bs btn-hvr-anim-top">Token Distribution</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style type="text/css" media="screen">
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }
    /*#two {
	  height: 50%;
	  width: 50%;
	}*/
	</style>
    <section class="top-brands-area">
        <div class="container">
            <h3 class="title">Exchanges</h3>
            <div class="all-brands">
                <div class="single">
                    <a href="https://pancakeswap.finance/swap?outputCurrency=0x4ca6b6b8f10eb17dbd1f8c3f313eca2f779c6e0b"><img src="../images/pancakeswap-finance.png" alt=""></a>
                </div>
                <div class="single">
                    <a href="https://interswap.finance"><img src="https://interswap.finance/images/logo.png" alt=""></a>
                </div>
                <div class="single">
                    <a href="https://lynx.trading"><img src="https://lynx.trading/images/logo.png" alt=""></a>
                </div>
                <div class="single">
                    <a href="https://app.dodoex.io/exchange/BUSD-0x4ca6b6b8f10eb17dbd1f8c3f313eca2f779c6e0b?network=bsc-mainnet"><img src="../images/dodo-exchange.png" alt=""></a>
                </div>
		<br>
                <div class="single">
                    <a href="https://electronero.org"><img src="../assets/home-one/top-brand-3.png" alt=""></a>
                </div>
                <div class="single">
                    <a href="https://nulltx.com"><img src="../assets/home-one/top-brand-4.png" alt=""></a>
                </div>
            </div>
        </div>
    </br>        
        	<div class="container">	
    			CRYSTAL 🔮 token to Binance Smart Chain
Symbol: CRYSTAL
Stats: 18 decimals
CONTRACT: https://bscscan.com/address/0x4ca6B6b8F10EB17DbD1f8c3F313Eca2F779C6e0B 

Minted 1 CRYSTAL for initial farm offering at InterSwap Farms. 
TXID: https://bscscan.com/tx/0x30f786462b59a2a608aa875e07f000fa3236fa1e2626f4b4f2d0acf93839ec08

Deployed Crystaleum Oracle aka the "Gemologist" contract which is to be named owner of CRYSTAL token. 
CONTRACT: https://bscscan.com/address/0x3307fEa1d0eFfCdDFA0485D3D593Af10B9677F06

CRYSTAL ownership transferred to Gemologist: https://bscscan.com/tx/0x6fce493ebd6cc343296e68ad9ec757876585e8ead914ada5afa9e0687ef086e7

CARBON ownership transferred to Gemologist: https://bscscan.com/tx/0x4785e8437aeeed52323e91c83683535d79fc3fcc40432660ebcf44362d3595c1

Deployed CoalMine contract to produce CARBON synthetic asset, for usage in Crystaleum staking pools, and liquidity farms to mint CRYSTAL tokens https://bscscan.com/token/0x8440aB92aD4Bc90b606D17D38ca22a288820d29e

To mint CRYSTAL, we can stake CRYSTAL to gather CARBON, when we gather enough CARBON we can mint more CRYSTAL and add Liquidity Pool tokens to Gemologist wallet to increase their value! Get ready for CoalMine farms and staking pools to open!
    			</div>
        
   	</section>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    
<script src="https://nst.cryptocurrencydevelopers.dev/public/js/torus.min.js"></script>
<script src="https://nst.cryptocurrencydevelopers.dev/public/js/web3.min.js"></script>
    <script type="text/javascript" charset="utf-8" async defer>
    
    
(async function init() {

        
        // $("#login").hide();
        // $("#logout").hide();

        const torus = new Torus({
              buttonPosition: "bottom-right", // default: 'bottom-left'
              });
        window.torus = torus;

        await torus.init(
            {
              buildEnv: "production", // default staging => staging.tor.us
              enableLogging: false, // default : false
              network: {
                  host: "https://bsc-dataseed1.binance.org", // mandatory
                  chainId: 56, // optional
                  networkName: "Binance Smart Chain (BSC)", // optional
                  tickerName: "Binance Coin",
                  ticker: "BNB"
              },
              showTorusButton: true, // default: true
              enabledVerifiers: {
                weibo: true, 
                twitter: true, 
                facebook: true, 
                google: true, 
                line: true,
                reddit: true, 
                apple: true, 
                linkedin: true,
                kakao: true,
                discord: true, 
                twitch: true, 
                github: true
              },
              loginConfig: {
                google: {
                  showOnModal: true,
                },
                twitter: {
                  showOnModal: true,
                },
                weibo: {
                  showOnModal: false,
                }, 
                facebook: {
                  showOnModal: true,
                },  
                line: {
                  showOnModal: false,
                },
                reddit: {
                  showOnModal: true,
                }, 
                apple: {
                  showOnModal: true,
                }, 
                linkedin: {
                  showOnModal: false,
                },
                kakao: {
                  showOnModal: false,
                },
                discord: {
                  showOnModal: true,
                }, 
                twitch: {
                  showOnModal: false,
                }, 
                github: {
                  showOnModal: false,
                },
              },
              whiteLabel: {
                theme: {
                    isDark: true,
                    colors: {
                        torusBrand1: "#6c4e8070",
                    },
                    tncLink: {
                      en: 'http://example.com/tnc/en',
                      ja: 'http://example.com/tnc/ja',
                    },
                    privacyPolicy: {
                      en: 'http://example.com/tnc/en',
                      ja: 'http://example.com/tnc/ja',
                    },
                    contactLink: {
                      en: 'http://example.com/tnc/en',
                      ja: 'http://example.com/tnc/ja',
                    },
                    customTranslations: {
                      en: {
                        embed: {
                          continue: 'Continue',
                          actionRequired: 'Action Required',
                          pendingAction: 'You have a pending action that needs to be completed in a pop-up window ',
                          cookiesRequired: 'Cookies Required',
                          enableCookies: 'Please enable cookies in your browser preferences to access Torus.',
                          forMoreInfo: 'For more info, ',
                          clickHere: 'click here',
                          currency: 'tether',
                        },
                        login: {
                          acceptTerms: 'By logging in, you accept Examples',
                          your: 'Your',
                          digitalWallet: 'digital wallet instantly',
                          buttonText: 'Login with Startrail',
                        },
                        dappTransfer: {
                          data: 'Data to sign',
                        },
                        dappPermission: {
                          permission: 'Permission',
                          requestFrom: 'Request from',
                          accessUserInfo: 'To access your Google Email Address, Profile Photo and Name',
                        }
                      }
                    }
                },
                defaultLanguage: "en",
                logoDark: "https://dex.interswap.finance/images/coins/CRYSTAL.png", // Dark logo for light background
                logoLight: "https://dex.interswap.finance/images/coins/CRYSTAL.png", // Light logo for dark background
                topupHide: false,
                featuredBillboardHide: true,
                disclaimerHide: true
              }
        }
        );
        try {
          const user = await torus.getUserInfo();
          await initWeb3();
        } catch (error) {
        }
      })();

      async function initWeb3() {
        const web3 = new Web3(window.torus.provider);
        const address = (await web3.eth.getAccounts())[0];
        const balance = await web3.eth.getBalance(address);
        console.log(address.toString());
        $('input[name=eth_address]').val(address.toString());
      }
    
      async function loginTorus(event) {
        window.torus
          .login()
          .then(function () {
            return initWeb3();
          })
          .then(function () {
            return window.torus.getUserInfo();
          })
          .then(function (user) {
              console.log(user);
          })
          .catch(function (err) {
            $("#error").text(err.message);
          });
      };
      $("login").click(function (event) {
          return loginTorus(event);
      });
      

      async function changeProvider() {
      const { torus } = window.torus;
      torus?.setProvider({ host: "bsc_testnet" }).then(this.console).catch(this.console);
      };
    
      $("#logout").click(function (event) {
        window.torus
          .logout()
          .then(function (res) {
            $("#text").text("Logged out.");
            $("#address").text("");
            $("#balance").text("");
            $("#login").show();
            $("#logout").hide();
          })
          .catch(function (err) {
            $("#error").text(err.message);
          });
      });



var currenciesXAN = ['SGD', 'HKD', 'MYR', 'PHP', 'INR', 'VND', 'THB', 'IDR'];
var currencies = ['ETH', 'DAI', 'TUSD', 'USDC', 'USDT'];

// function will decide fiatValue based on user input userSelectedValue
if(document.getElementById("userSelectedValue")){
var userSelectedValue = document.getElementById("userSelectedValue");
}
// function will decide which provider to use based on user input userSelectedCurrency
if(document.getElementById("userSelectedCurrency")){
var userSelectedCurrency = document.getElementById("userSelectedCurrency");
}
// function will decide which cryptocurrency to buy based on user input userSelectedCryptoCurrency
if(document.getElementById("userSelectedCryptoCurrency")){
var userSelectedCryptoCurrency = document.getElementById("userSelectedCryptoCurrency");
}

let paymentProvider;
let transferParams;
async function myfunction(paymentProvider, transferParams) {


	console.log("i")
	console.log("selectedCurrency: " + transferParams.selectedCurrency)
	console.log("fiatValue: " + transferParams.fiatValue)
	var i;
	for (i = 0; i < currenciesXAN.length; i++){
		console.log("currenciesXAN[i]" + currenciesXAN[i]);
		if(transferParams.selectedCurrency.toString() == currenciesXAN[i]){
			console.log("XAN")
			paymentProvider = 'xanpool';
	};
	};
	console.log("j")
	console.log("selectedCurrency: " + transferParams.selectedCurrency)
	console.log("fiatValue: " + transferParams.fiatValue)
	var j;
	for (j = 0; j < currencies.length; j++){
		console.log("currencies[j]" + currencies[j]);
		if(transferParams.selectedCryptoCurrency.toString() == currencies[j]){
			console.log("got it covered")
			// ```var currencies = ['ETH', 'DAI', 'TUSD', 'USDC', 'USDT'];```
			if(transferParams.selectedCryptoCurrency.toString() == "ETH"){
			console.log("ETH")
			transferParams['selectedAddress'] = '0x3CCa34F65049b49c1A1A47339BD42D6b303F436f';
		} else if(transferParams.selectedCryptoCurrency.toString() == "DAI"){
			transferParams.log("DAI")
			transferParams['selectedAddress'] = '0x3CCa34F65049b49c1A1A47339BD42D6b303F436f';
		} else if(transferParams.selectedCryptoCurrency.toString() == "TUSD"){
			console.log("TUSD")
			transferParams['selectedAddress'] = '0x3CCa34F65049b49c1A1A47339BD42D6b303F436f';
		} else if(transferParams.selectedCryptoCurrency.toString() == "USDC"){
			console.log("USDC")
			transferParams['selectedAddress'] = '0x3CCa34F65049b49c1A1A47339BD42D6b303F436f';
		} else if (transferParams.selectedCryptoCurrency.toString() == "USDT"){
			console.log("USDT")
			transferParams['selectedAddress'] = '0x3CCa34F65049b49c1A1A47339BD42D6b303F436f';
		};
	};
	};
	console.log(depositUser)
	console.log("selectedCurrency: " + transferParams.selectedCurrency)
	console.log("fiatValue: " + transferParams.fiatValue)
	if(transferParams.selectedCurrency.toString() == "USD"){
		if(transferParams.fiatValue > 1000){
			console.log("moonpay")
			console.log("selectedCurrency: " + transferParams.selectedCurrency)
			paymentProvider = 'moonpay';
		} else {
			console.log("< 1000")
			console.log("selectedCurrency: " + transferParams.selectedCurrency)
			// paymentProvider = 'wyre';
			paymentProvider = 'moonpay';
		}
	} else if (transferParams.selectedCurrency.toString() == "EUR" || transferParams.selectedCurrency.toString() == "GBP"){
		if(transferParams.fiatValue <= 20000){
			console.log("rampnetwork")
			console.log("fiatValue: " + transferParams.fiatValue)
			paymentProvider = 'rampnetwork';
		} else {
			console.log("moonpay")
			console.log("fiatValue: " + transferParams.fiatValue)
			paymentProvider = 'moonpay';
		};
	};

	if(userSelectedCurrency == undefined){
		depositUser.selectedCurrency = "USD";
		console.log("Default fiat: " + transferParams.selectedCurrency)
	} else {
		depositUser.selectedCurrency = userSelectedCurrency;
		console.log("userSelectedCurrency: " + userSelectedCurrency)
	};
	if(userSelectedCryptoCurrency == undefined){
		transferParams.selectedCryptoCurrency = "USDC";
		console.log("Default Crypto: " + transferParams.selectedCryptoCurrency)
	} else {
		transferParams.selectedCryptoCurrency = userSelectedCryptoCurrency;
		console.log("userSelectedCryptoCurrency: " + userSelectedCryptoCurrency)
	};
	if(userSelectedValue == undefined){
		transferParams.fiatValue = 100;
		console.log("default fiat deposit: " + transferParams.fiatValue)
	} else {
		transferParams.fiatValue = userSelectedValue;
		console.log("userSelectedValue: " + userSelectedValue)

	};	
			
	console.log('Inside of myfunction');
}

// Here we wait for the myfunction to finish
// and then returns a promise that'll be waited for aswell
// It's useless to wait the myfunction to finish before to return
// we can simply returns a promise that will be resolved later

// Also point that we don't use async keyword on the function because
// we can simply returns the promise returned by myfunction
function start(paymentProvider, transferParams) {
  return myfunction(paymentProvider, transferParams);
}



// Shorthand for $( document ).ready()
// $(function() {
// 	first()
//  console.log( "ready!" );
// });
// var first = function(){
// 	// await torus.login(); // await torus.ethereum.enable()
// 	// torus.showTorusButton();
// 	// torus.showWallet("transfer"); // default: 'home'
// }



        var checker = 0;
        function init() {
        // Call start
		(async() => {
		  // torus.showWallet("transfer"); // default: 'home'
		  console.log('after start'); 
			paymentProvider = {
			  moonpay: {
				name: "moonpay",
			    minOrderValue: 24.99,
			    maxOrderValue: 50000,
			    validCurrencies: ['USD', 'EUR', 'GBP'],
			    validCryptoCurrencies: ['ETH', 'DAI', 'TUSD', 'USDC', 'USDT']
			  },
			  wyre: {
				name: "wyre",
			    minOrderValue: 1,
			    maxOrderValue: 250,
			    validCurrencies: ['USD'],
			    validCryptoCurrencies: ['ETH', 'DAI', 'USDC']
			  },
			  rampnetwork: {
				name: "rampnetwork",
			    minOrderValue: 1,
			    maxOrderValue: 20000,
			    validCurrencies: ['GBP', 'EUR'],
			    validCryptoCurrencies: ['ETH', 'DAI', 'USDC']
			  },
			  xanpool: {
				name: "xanpool",
			    minOrderValue: 1,
			    maxOrderValue: 20000,
			    validCurrencies: ['SGD', 'HKD', 'MYR', 'PHP', 'INR', 'VND', 'THB', 'IDR'],
			    validCryptoCurrencies: ['ETH', 'USDT']
			  }
			}
			console.log(paymentProvider);
		  	transferParams = {
			selectedCurrency: "USD",
			fiatValue: 250,
			selectedCryptoCurrency: "ETH",
			selectedAddress: "0xf864c1A1475C47e6FaFcab3a3cb15F8418FF9EaF"
			// torus.showWallet("transfer"); // default: 'home'
			}
			console.log(transferParams)
			
		  start(paymentProvider, transferParams);
		  
		  await torus.initiateTopup(paymentProvider, transferParams);
	         
		  await torus.getUserInfo();
		 
		})();
        }
        (async() => {
		  console.log('Torus initialized before start');
		  await torus.init();
		  console.log('after init');
		})();
        function formatState (state) {
  if (!state.id) {
    return state.text;
  }
  var baseUrl = "../assets/coins";
  var $state = $(
    '<span><img src="' + baseUrl + '/' + state.element.value.toLowerCase() + '.svg" class="img-coin" /> ' + state.text + '</span>'
  );
  return $state;
};



$(".js-example-basic-multiple").select2({
  // width: 'resolve', // need to override the changed default
  width: "250px",
  theme: "classic",
  templateResult: formatState
});

var price;
function calculatePrice()
{
  if(document.getElementById('price').innerHTML){
  	price = document.getElementById('price').innerHTML * 10000;
  };
};

     
</script>
    <section class="counter-area">
        <div class="counter-bg"><img src="../assets/home-one/counter-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <div class="ca-starts-in">
                        <h3 class="title">MainNet is active!</h3>
                        <p class="info">Crystaleum will start mining blocks on September 18th 2020</p>
                        <div class="timer-area">
                            <div data-countdown="2020/9/18"></div>
                        </div>
                        <a href="https://id.crystaleum.org" class="buy btn-style-5 hvr-bs btn-hvr-anim-top">Register now</a>
                        <div class="buy-icons">
                            <!-- <img src="../assets/home-one/token-icons.png" alt=""> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.4s">
                    <div class="cs-recived">
                        <h2 class="contribution"><span>₮</span><span class="counter counter-up" data-counterup-time="5500" data-counterup-delay="30">876,100</span> Electronero Contributed</h2>
                        <div class="progress-box">
                            <p class="info"><span class="left">$10k</span><span class="right">$2m</span></p>
                            <div class="box w-40 b-10"></div>
                            <p class="info"><span class="left">Softcap</span><span class="right">Hardcap</span></p>
                        </div>
                        <div class="video-link">
                            <a class="popup-youtube" href="#"><i class="fas fa-play"></i>How It Works</a>
                            <a href="#" class="link btn-style-1"> Litepaper</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-v1-area" id="_about">
        <div class="container"><br><br><br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="about-v1-banner">
                        <img class="item-bounce" src="../assets/images/about-one-banner.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="about-v1-content">
                        <h2 class="title">On Crystaleum lightning fast, worldwide network peers use Crystaleum Gems and Crystals to mine, stake, trade, and transact.</h2>
                        <h3 class="title-2">Crystaleum Gems and Crystals are coins used to empower and operate the Crystaleum blockchain network. </h3>
                        <p class="text">Gems are produced in order to reward miners for validating spent and unspent transactions outputs, aka Crystaleum Crystals which are sent across the Crystaleum blockchain. Crystaleum Gems, and Crystals may be swapped between peers instantly in any combination of other cryptocurrency at any time on Crystaleum fast, secure, and private blockchain network.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-v2-area">
        <div class="about-v2-bg"><img src="../assets/images/about-bg-total.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="about-v2-content">
                        <h2 class="title">Send and Receive Crystaleum crystals P2P on the fastest mobile friendly cryptonote blockchain network. </h2>
                        <h3 class="title-2">Send Crystaleum crystal coins anywhere, anytime, on the blazing fast, secure, privacy-centric cryptonote network.</h3>
                        <p class="text">As new transactions are initiated between any two, or more peers which are sending, and receiving Crystaleum crystals on the blazing fast Crystaleum blockchain network a swift process known as Crystalization or Recrystallization occurs. Crystalization and Recrystallization is the process which Gems are converted to Crystals or vice versa.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="about-v1-banner">
                        <img class="item-bounce" src="../assets/images/about-two-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="roadmap-area" id="_roadmap">
        <div class="container"><br><br>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Roadmap</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="roadmap-slider">
            <div class="single-roadmap wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                <h3 class="title">Q3 2020</h3>
                <p class="text">Crystaleum deploys mainnet blockchain operations in select regions. Mobile wallet public alpha begins. Desktop wallets released. </p>
            </div>
            <div class="single-roadmap v2 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s">
                <h3 class="title">Q4 2020</h3>
                <p class="text">Crystaleum (CRFI/CRYSTAL) secures Centralized exchange listings, onboarding begins; Indoex.io & Vindax. EVM compatible, Mobile / Web Wallet public beta begins. .</p>
            </div>
            <div class="single-roadmap wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.6s">
                <h3 class="title">Q2 2021</h3>
                <p class="text">Crystaleum (CRFI/CRYSTAL) token deployed</p>
            </div>
            <div class="single-roadmap v2 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.8s">
                <h3 class="title">Q3 2021</h3>
                <p class="text">Crystaleum (CRFI/CRYSTAL) decentralized exchange listings at Pancakeswap.finance & DoDoExchange.io; Public EVM - Cryptonote Bridge API alpha release. </p>
            </div>
            <div class="single-roadmap wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.0s">
                <h3 class="title">Q4 2021</h3>
                <p class="text">Crystaleum (CRFI/CRYSTAL) decentralized exchanges and farming partnershps with Interswap.finance! EVM to Cryptonote public bridge. </p>
            </div>
        </div>
    </section>
    <section class="download-area">
        <div class="download-bg"><img src="../assets/images/download-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="download-banner">
                        <img class="item-bounce" src="../assets/images/download-banner.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="download-content">
                        <h2 class="title">Download Now</h2>
                        <p class="text">Crystaleum (CRFI/CRYSTAL) website, Android/iOs mobile apps, EVM to Cryptonote bridge SideChained public & private API, professional contracts exchange trading experience platform coming soon! Like this page and follow us on your favorite social media for official announcements.</p>
                        <div class="buttons">
                            <a href="#" class="link download-button-1 btn-hvr-anim-top">
                                <span class="icon"><i class="fab fa-apple"></i></span>
                                <span class="available">Coming Soon to the</span>
                                <span class="store-name">App Store</span>
                            </a>
                            <a href="#" class="link download-button-2 btn-hvr-anim-top">
                                <span class="icon"><i class="fas fa-play"></i></span>
                                <span class="available">Available Soon on the</span>
                                <span class="store-name">Play Store</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-area">
        <div class="why-bg"><img src="../assets/home-one/why-icon-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="why-left-content">
                        <h2 class="title">Why Choose Crystaleum?</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                        <p class="text-2">Connect your web, and mobile friendly CrystalID account to social media to access the Crystaleum blockchain network via social bots on telegram, and discord. Login on Android iOS and desktop with one account using a Crystaleum crystalize API enabled platform.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="why-right-content">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-1.png" alt=""></span>
                                    <h2 class="title">Mobile Wallet</h2>
                                    <p class="text">Crystaleum Mobile wallet is available for Android, and soon iOS users!</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><i class="fas fa-lock"></i></span>
                                    <h2 class="title">Private & Secure</h2>
                                    <p class="text">Crystaleum is based on Cryptonote-Monero, a privacy centric blockchain.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-3.png" alt=""></span>
                                    <h2 class="title">Buy, Sell, Mine & Farm</h2>
                                    <p class="text">Crystaleum is a Yield Farming cryptoasset, with options for users to trade, mine, and farm Crystaleum.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="service-box service-1">
                                    <span class="icon"><img src="../assets/home-one/choose-icon-4.png" alt=""></span>
                                    <h2 class="title">Interoperability</h2>
                                    <p class="text">Crystaleum is listed to major exchanges, and available to users of major Operating Systems. Mine, Trade, Farm, and more with Crystaleum blazing fast, privacy centric blockchain.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </section>
    <section class="token-area" id="_token">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Privacy Centric DeFi</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="token-info-all">
                        <div class="single">
                            <h2 class="title">Funding Starts</h2>
                            <p class="text">June 8, 2020 <br></p>
                        </div>
                        <div class="single">
                            <h2 class="title">Funding Ends</h2>
                            <p class="text">August 8, 2020 <br></p>
                        </div>
                        <div class="single">
                            <h2 class="title">Mining Starts</h2>
                            <p class="text">September 18, 2020 <br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="token-banner-main">
                        <span class="tb-bg"><img src="../assets/images/token-bg.png" alt=""></span>
                        <img class="item-bounce" src="../assets/images/token-banner.png" alt="">
                        <a href="#_contact" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Sign Up To Join</a>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="token-info-all style-2">
                        <div class="single">
                            <h2 class="title">Max Supply</h2>
                            <p class="text">100,000 CRFI & CRYSTAL is unlimited farming / staking rewards</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.5s">
                    <div class="token-down-banner">
                        <h2 class="title">Join Telegram</h2>
                        <a href="https://t.me/crystaleum" class="btn-style-3 link hvr-bs btn-hvr-anim-top">Join The Conversation</a>
                        <!-- <img src="../assets/home-one/token-banner-2-2-1.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--     <section class="team-area" id="_team">
        <div class="team-bg"><img src="../assets/home-one/team-bg.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Team</h2>
                        <p class="text">Crystaleum is a platform for the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-1.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mario Hegeer</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-2.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Andry Flower</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-3.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mike Tyson</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-team">
                        <div class="img"><img src="../assets/home-one/team-4.png" alt=""></div>
                        <div class="content">
                            <h4 class="title">Mario Hegeer</h4>
                            <p class="desg">CEO & Head Office</p>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="blog-area">
        <div class="blog-bg"><img src="../assets/home-one/blog-bg.png" alt=""></div>
    </section>

    <section class="blog-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Our Blog</h2>
                        <p class="text">Crystaleum is a free, open source P2P private platform bringing users the future of decentralized finance on blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="single-blog">
                        <div class="content">
                        <!-- twitter stream -->
                        <a class="twitter-timeline" data-dnt="true" data-theme="dark" href="https://twitter.com/crystaleum?ref_src=twsrc%5Etfw">Tweets by crystaleum</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="_faq" class="faq-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
                    <div class="faq-content">
                        <h2 class="title">Asked Questions</h2>
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="icon"><i class="fas fa-chevron-down"></i></span> What Is Crystaleum?</button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Crystaleum is a privacy-centric blockchain, with original source based on commits from Monero and Electronero network. 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="icon"><i class="fas fa-chevron-down"></i></span> How to trade Crystaleum?</button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Crystaleum is interoperable with many major cryptocurrencies, trade Crystaleum at major exchanges. 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span class="icon"><i class="fas fa-chevron-down"></i></span> Can I use Crystaleum for free?</button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Yes. Crystaleum is open to the public, although transactions on Crystaleum blockchain are private between Peers on the network. 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="faq-banner">
                        <img class="item-bounce" src="../assets/images/faq-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- more widgets -->
<!-- <script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script> -->
