<%# views/layout.ejs %>
<!DOCTYPE html>
<html lang="en">
<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Crystaleum</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/jquery-ui.css">
    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/animate.css">
    <link rel="stylesheet" href="../assets/css/stellarnav.min.css">
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="../assets/home-one/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.../assets/js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<!-- insert theme below -->
<body class="home1-bg-color">
    <div id="preloader"></div>
    <header>
        <div class="container">
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <div class="row">
                <div class="col-lg-2 col-sm-6 col-6">
                    <div class="logo"><img style="width: 33%; height: 33%" src="/assets/images/crystaleum-blockchain-cryptocurrency-crypto-altcoin.png" alt="">
                        <a href="/">Crystaleum</a>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 col-12">
                    <div class="main-menu">
                        <div class="stellarnav">
                            <nav class="menu-list">
                                <ul>
                                    <li><a href="#_about" class="smoothscroll">About Us</a></li>
                                    <li><a href="#_token" class="smoothscroll">Trade</a></li>
                                    <li><a href="#_roadmap" class="smoothscroll">Roadmap</a></li>
                                    <li><a href="#_faq" class="smoothscroll">FAQ</a></li>
                                    <li><a href="#_contact" class="smoothscroll">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="ht-buy-token">
                        <a href="#" class="link btn-style-1">Crystaleum</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- ADD CONTENT ABOVE -->
       <%- content %>
<!-- ADD CONTENT BELOW -->

    <footer>
    <!-- End Section -->
        <section class="contact-area" id="_contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <h2 class="title">Contact Us Today</h2>
                        <p class="text">Crystaleum network developers are empowering blockchain for the future of decentralized finance "DeFi". <br>Join the decentralized movement!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="contact-info-single">
                                <p class="info"><span class="icon"><i class="fas fa-phone"></i></span><a href="https://t.me/crystaleum">@crystaleum</a></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="contact-info-single">
                                <p class="info"><span class="icon"><i class="fas fa-envelope"></i></span><a href="mailto:info@yourcompany.com">support@crystaleum.org</a></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="contact-info-single">
                                <p class="info"><span class="icon"><i class="fas fa-map"></i></span><a href="https://www.google.com.bd/maps/">Discord</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="cf-msg"></div>
                    <form action="contact/send" class="form-message text-center" method="post" id="cf">
                        <div class="row">
                            <div class="form-results"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="contact-form-input">
                                    <input name="name" type="text" class="input-line form-control required" placeholder="Name" id="fname" required="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="contact-form-input">
                                    <input name="email" type="email" class="input-line form-control required email" id="email" required="">
                                </div>
                            </div>
                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="contact-form-input">
                                    <input type="text" placeholder="Subject" id="subject" name="subject">
                                </div>
                            </div> -->
                            <div class="col-12">
                                <div class="contact-form-input">
                                    <textarea name="message" type="text" class="contact-textarea txtarea input-line required" placeholder="Message" id="msg"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="contact-form-input text-center">
                                    <button id="submit" onclick="setTimeout(formSubmit, 1000)" class="cont-submit btn-style-3 link hvr-bs btn-hvr-anim-top" name="submit">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="footer-widget">
                            <h2 class="title">Crystaleum</h2>
                            <p class="text">Join the Crystaleum Community</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <div class="footer-widget">
                            <h3 class="title-2">Follow Us</h3>
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <ul class="social">
                                        <li><a href="https://facebook.com/crystaleumcrypto"><span class="ico"><i class="fab fa-facebook-f"></i></span> Facebook</a></li>
                                        <li><a href="https://t.me/crystaleum"><span class="ico"><i class="fab fa-telegram"></i></span> Telegram</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <ul class="social">
                                        <li><a href="https://twitter.com/crystaleum"><span class="ico"><i class="fab fa-twitter"></i></span> Twitter</a></li>
                                        <li><a href="mailto:crystaleum.tmm@gmail.com"><span class="ico"><i class="fab fa-google-plus"></i></span> Google</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="footer-widget">
                            <h3 class="title-2">Follow Us</h3>
                            <p class="text">Stay ahead of the curve! <br>Subscribe to Crystaleum network.</p>
                            <div class="newsletter">
                                <form id="subscribe-form" action="contact/subscribe" method="post" class="subscription-form inline-form">
                                    <div class="newsletter-inputbox">
                                        <input type="email" name="email" class="input-round form-control required email" placeholder="Enter your email address" >
                                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                        <button type="submit" onclick="setTimeout(subSubmit, 1000)" class="slideOut btn btn-plane">Subscribe</button>
                                        <div class="subscribe-results"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="copyright">
                            <p class="text">2020 Copyright Crystaleum network. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="footer-links">
                            <ul class="links">
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/jquery-ui.js"></script>
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/jquery.counterup.min.js"></script>
    <script src="../assets/js/countdown.js"></script>
    <script src="../assets/js/stellarnav.min.js"></script>
    <script src="../assets/js/jquery.scrollUp.js"></script>
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/jquery.waypoints.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/theme.js"></script>

    <!-- form validation animations -->
    <script src="/assets/js/formchecker.js"></script>
</body>
</html>
