<%# views/layout.ejs %>
<!DOCTYPE html>
<html lang="en">
<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Crystaleum</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/stellarnav.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- insert theme below -->
<body class="home1-bg-color">
    <div id="preloader"></div>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6 col-6">
                    <div class="logo">
                        <a href="index.html">Crystaleum</a>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 col-12">
                    <div class="main-menu">
                        <div class="stellarnav">
                            <nav class="menu-list">
                                <ul>
                                    <li><a href="#_about" class="smoothscroll">About Us</a></li>
                                    <li><a href="#_token" class="smoothscroll">Trade</a></li>
                                    <li><a href="#_roadmap" class="smoothscroll">Roadmap</a></li>
                                    <li><a href="#_team" class="smoothscroll">Team</a></li>
                                    <li><a href="#_contact" class="smoothscroll">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="ht-buy-token">
                        <a href="#" class="link btn-style-1">Crystaleum</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- ADD CONTENT ABOVE -->
       <%- content %>
<!-- ADD CONTENT BELOW -->
    <footer>
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="footer-widget">
                            <h2 class="title">Crizal</h2>
                            <p class="text">We offers users a fully operational long-term rental platform. It plans to leverages blockchain technology to ensure seamless rental.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <div class="footer-widget">
                            <h3 class="title-2">Follow Us</h3>
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <ul class="social">
                                        <li><a href="#"><span class="ico"><i class="fab fa-facebook-f"></i></span> Facebook</a></li>
                                        <li><a href="#"><span class="ico"><i class="fab fa-linkedin-in"></i></span> Linkedin</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <ul class="social">
                                        <li><a href="#"><span class="ico"><i class="fab fa-twitter"></i></span> Twitter</a></li>
                                        <li><a href="#"><span class="ico"><i class="fab fa-google-plus"></i></span> Google</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="footer-widget">
                            <h3 class="title-2">Follow Us</h3>
                            <p class="text">You will always be update with the latest news from us.</p>
                            <div class="newsletter">
                                <form action="#">
                                    <div class="newsletter-inputbox">
                                        <input type="text" placeholder="Enter Email Address">
                                        <button class="btn-style-3">sUBSCRIBE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="copyright">
                            <p class="text">2019 Copyright Crizal. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="footer-links">
                            <ul class="links">
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/stellarnav.min.js"></script>
    <script src="js/jquery.scrollUp.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>
